body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: white;
  background: #041833 !important;
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 100vw;
  margin: 20px;
  clear: both;
}

p:last-child {
  margin-bottom: 0;
}

h2,h3 {
  font-family: "Lato", sans-serif;
  color: white;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin-top: -30px;
  overflow: auto;
  color: #ffffff;
  background: #041833;

  font-family: "Lato", sans-serif;
}

#logo {
  float: left;
  width: 30%;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  text-align: left;
  text-decoration: none;
}
/** nav bar ***/
.nav-link{
  margin-top: 13px;
  font-size: 14pt;
  color: white;
}

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: white;
  text-align: center;
  background: #041833;
  height: 50px;
}

h3,
h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
 
}

/* main */

#main-container {
  padding-top: 80px;
  min-height: calc(100vh - 70px);
  font-size: 20pt;
}

#introduction {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  font-size: 20pt;
  color: teal;
}

.make-red {
  line-height: 34px;
  color: white;
  margin-top: -15px;
  margin-left: -5x;
}

/* portfolio page */
#header{
  text-align: center;
}
.main-section {
  margin-top: 10px;
  text-align: center;
}

.work{
  width: 40vw;
  padding: 10px;
}

.img-container{
position: relative;

}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  padding: 0;
  text-align: center;
  margin: auto;
  opacity: 0.5;
  transition: 0.3s;
}

#btn{
  font-size: 30pt;
  color:white;
}

.btn:hover {
  opacity: 1;
  background-color: black;
}


/* contact page */

#contact-form ul {
  list-style: none;
  margin-bottom: 20px;
  margin-left: -40px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  border: 0 none;
}
