body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 34px;
  width: 100%;
}
* {
  box-sizing: border-box;
}

div.row {
  margin-left: 100px;
}

/* general */

.container {
  width: 100%;
  max-width: 100vw;
  margin: 20px;
  clear: both;
}

p:last-child {
  margin-bottom: 0;
}

h2,
h3 {
  font-family: "Lato", sans-serif;
  color: white;
}

#home {
  background-color: white;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin-top: -30px;
  overflow: auto;
  color: #ffffff;
  background: #213a37;

  font-family: "Lato", sans-serif;
}

#logo {
  float: left;
  width: 30%;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  text-align: left;
  text-decoration: none;
}
/** nav bar ***/
.nav-link {
  margin-top: 13px;
  font-size: 14pt;
  color: white;
  height: 80px;
}

/* footer */

footer {
  clear: both;
  font-size: 12px;
  background: #213a37;
  color: white;
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

h1 {
  color: #213a37
}
h3,
h2 {
  line-height: 22px;
}

/* main */

#main-container {
  padding-top: 80px;
  min-height: 100px;
  font-size: 20pt;
  /*background-image: url(../images/elcapitan.JPG);*/
  height: auto;
  margin: 0;
}

#introduction {
  padding: 30px;
  font-size: 20pt;
  color: teal;
  /*border-style: solid;
  border-width: 5px;
  border-color: #8c6345;*/
}

.make-red {
  line-height: 34px;
  color: #8c6345;
  margin-top: -15px;
  margin-left: -5x;
}

/* portfolio page */
#header {
  text-align: center;
}
.main-section {
  margin-top: 10px;
  text-align: center;
}

.work {
  width: 40vw;
  padding: 10px;
}

.img-container {
  position: relative;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  padding: 0;
  text-align: center;
  margin: auto;
  opacity: 0.5;
  transition: 0.3s;
}

#btn {
  font-size: 30pt;
  color: white;
}

.btn:hover {
  opacity: 1;
  background-color: black;
}

/* contact page */

label {
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0px;
}

ul {
  margin: 0px;
}

#contact-label {
  margin-bottom: 40px;
}

i {
  color: white;
}

img.full {
  width: 100vw;
  margin: -200px -15px;
  position: absolute;
  display: block;
}
/* first row */

section.first {
  margin-top: 50px;
  margin-left: 500px;
}



